body{
	width: 100%;
	font-family: 'Lato', sans-serif;
	
}


.clr{
	clear:both;
	width:100%;
  }

a{
	text-decoration: none;
}

header{
	width: 1111px;
	margin: auto;
}

header img{
	height: 150px;
	float: left;
}

header nav {
	float: right;
	font-family: 'Julius Sans One', sans-serif;
	font-size: small;
	padding: 50px 0px 0px;
	
}
header a {
	padding: 10px;
	color: #3f3838;
}


.wrapper{
	width: 1111px;
	margin: auto;
}

footer{
	background-color: #1D1C1E ;
}

#bloc1 {
	
	position: relative;
	background-image: url(/assets/home/desktop/Sans\ titre\ \(46\).png);
	color: #fff;
	width: 1111px;
    height: 640px;
    border-radius: 4%;
	
}

#textHomeTop {
	position: absolute;
	z-index: 9999;
	color: white;
	
	height: 350px;
	padding-left: 80px;
    padding-top: 100px;
	font: icon;
    font-size: x-large;
    position: relative;
    margin-left: 450px;

}

#bloc1 #textHomeTop h1 {
	font-variant-caps: small-caps;
    font-size: xxx-large;
    padding-top: 80px;
    padding-left: 60px;
}

#bloc1 #textHomeTop p{
    padding-left: 60px;
}

#bgTopHome{
overflow: hidden;
}

.btn {
background-color:#400201;
display: inline-block;

color: white;
padding: 10px 20px;
cursor: pointer;
border-radius: 5px;
}

#bg-circle{

	position:absolute;
	right:0px;
	top:0px;
	z-index:1;
	border-radius: 50%;
	background: rgb(91,89,89);
	background: linear-gradient(180deg, rgba(91,89,89,0.5) 0%, rgba(91,89,89,0.1) 100%);
	height:100%;
	width: 55%;
}


#grid-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 30px;
	grid-row-gap: 24px;
	height: 640px;
	
	margin-top: 160px;
  }
  
  #grid-container > div {
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	color: #fff;
	border-radius: 4%;
	width: 541px;
	
  }
  
  .item1 { 
	  background-image: url(/assets/home/desktop/Sans\ titre\ \(44\).png);
	  grid-row-start: 1;
	  grid-row-end: 3;
	  background-color: #3f3838;
	  
  }

  .item2 {
	  background-color: hsl(0, 6%, 23%);
	  background-image: url(/assets/home/desktop/2.png);
  }

  .item3 {
	background-color: #4d4545;
	background-image: url(/assets/home/desktop/3.png);
  }

  #conteneurbloc3{
	  width: 1111px;
  }

  #bloc3{
	  display: grid;
	  grid-template-columns: auto auto auto;
	  width: 1100px;
	  height: 500px;
	  grid-column-gap: 90px;
	  margin-top: 150px;
	  margin-right: 0px;
	  height: 300px;

  }


  #bloc3 div {
	text-align: center;
}

  #bloc4{
	  position: relative;
	  width: 1111px;
	  height: 292px;
	  top: 50px;
	  background-color:#F2A35C;
	  border-radius: 4%;  
  }

  .textcarrérose {
    position: absolute;
    color: white;
    width: 450px;
    height: 350px;
    padding-left: 80px;
    padding-top: 80px;
}

#boutoncarrérose {
	position: relative;
    left: 900px;
    top: 120px;
}

  
footer{
	background-color: #1D1C1E;
	width: 100%;
	height: 393px;
}



footer img{
	
	height: 27px;
	float: left;
}

 
footer{
	padding-top: 50px;
	color: #fff;
	}


hr {
	position: relative;
    top: 50px;
}

/**********formulaire de contact*****************/


#bloc9 {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: a;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F2A35C;
  padding: 25px;
  margin-top: 650px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #fff;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #F0D2B7;
  margin: 0 0 5px;
  padding: 5px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  border: none;
  background:#4002016c;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 7px;
  margin-left: 125px;
}

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}


#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


/****************** réservations ************************/
#bloc7{ 
		justify-content: center;
		color: white;
		margin: 55px auto;
		background-color: burlywood;
		width: 380px;
		border-radius: 8px;
		height: 300px;
	}
#selectFilm{
		width: 250px;
}
#titreReservation {
	padding: 20px;
	}
.soireeFilm {
	padding-left: 20px;
	}
	

/****************** Média queries ********************/

@media screen and (max-width: 394px)
{
	html{
		width: 375px;
		overflow-x: hidden;
	}

	#bg-circle {
		display: none;
	}
	body{
		width: 375px;
		overflow-x: hidden;
	}
	.wrapper{
		width: 350px;
		
	}	
	#bloc1 {
		width: 350px;
	}
	#bloc1 #textHomeTop h1 {
		margin-right: 300px;
	}
	p{
		margin-right: 300px;
	}
	footer p{
		margin-right: 0px;
	}
	#bg-circle{
		width: 100%;
	} 
	#grid-container {
		display: flex;
		flex-wrap: wrap;
		width: 350px;
	}
	#bloc3 {
			display: flex;
			flex-wrap: wrap;
			width: 440px;
			height: 500px;
	}
	#bloc4{
			position: relative;
			width: 350px;
			height: 350px;
			top: 360px;
			background-color: #E7816B;
			border-radius: 4%;
	}
    footer{
            position: relative;
            top: 300px;
            background-color: #1D1C1E;
            width: 100%;
             height: 393px;
	}
	#grid-container > div {
		margin: auto;
		width: 350px;
 	}
	header nav {
		display: none;
		
	} 
    #smartphoneHome{
		display: none;
	}
	#bloc3 div{
		width: 350px;
	} 
	#bloc3 div p {
		width: 350px;
	} 
	#bloc3 div img {
		width: 200px;
		justify-content: center;
	} 
	#bloc5{
		display: none;
	} 
	#bloc7{
		width: 350px;
	}
		/**********formulaire de contact*****************/
	#bloc5 {
		margin-top: 650px;
	} 
	footer{
		display: flex;
	}


	/********** fenêtre pop up films *****************/


.btn{
    background: none;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.8rem 2rem;
    margin-top: 2rem;
}

.modal{
    position:fixed;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) scale(0);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 8px;
    padding: 1rem;
    z-index: 10000000 !important;
    background: rgba(255,255,255,0.4);
    width: 500px;
    max-width: 80%;
    transition: 200ms ease-in-out;
    box-shadow: 0 25px 45px rgba(0,0,0,0.1);
    min-height: 30vh;
}

.modal.active{
    transform:translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 0.5rem 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255,255,255,0.4);
}

.modal-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10px;
}

.modal-header .title{
    font-weight: bold;
    font-size: 1.5rem;
}

.modal-header .closebtn{
    cursor: pointer;
    border: none;
    font-size: 2rem;
    outline: none;
    background: none;
    color: #fff;
}

.modal-body{
    padding: 0.5rem 10px;;
}

#overlay {
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    pointer-events: none;
    opacity: 0;
    transition: 200ms ease-in-out;
}

#overlay.active {
    pointer-events:all;
    opacity: 1;
}

.tooltip{
    font-size: 2rem;
    transition: 200ms ease-in-out;
}

.tool{
    font-size: 2rem;
}

.nextbtn{
    background: none;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
}

.tooltip.active{
   transform: rotate(180deg)
}

.title,
.desc{
    color: #fff;
}

.current{
    display: grid;
    place-items: center;
    position: relative;
    transition: 0.4s;
}

.next{
    display: none;
    transition: 0.2s;
}

.current.inactive{
    display: none;
}

.next.active{
    display: grid;
    place-items: center;
}

#filmsPopUp {
  width: 300px;
  border-radius: 8px;
}

